.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.modal {
  max-width: 500px;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
  border-top: 1px solid #f4f4f4;
}
.modal__footer button {
  display: inline-block;
  padding: 0.25rem 1.5rem;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal__button--confirm {
  background-color: #00b4d8;
  color: #fff;
  border: 1px solid #00b4d8;
  margin-left: 0.5rem;
}
.modal__button--confirm:hover {
  background-color: #0096c7;
  border-color: #0096c7;
}
.modal__button--cancel {
  background-color: #fff;
  border: 1px solid #cecece;
}
.modal__button--cancel:hover {
  background-color: #f4f4f4;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
  padding: 1rem 1.5rem;
}
.modal__title {
  font-size: 18px;
  margin: 0;
}
.modal__button--header {
  background: #fff;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  color: #9a9a9a;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}
.modal__button--header:hover {
  color: #575757;
}
