@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.profile__container {
  display: flex;
  width: 80%;
  max-width: 1140px;
  padding: 0 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
}
