.card {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}
.card__content {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card__textcontainer {
  padding: 1rem;
}
.card__title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 0.5rem;
}
.card__text {
  font-size: 14px;
  margin: 0 0 0.5rem;
  display: flex;
  align-items: center;
}
.card__icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}
@media screen and (min-width: 576px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
