.card {
  flex-basis: 100%;
  margin: 0 8px;
}
@media screen and (min-width: 576px) {
  .card {
    flex-basis: calc(50% - 16px);
  }
}
@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc(33.3333% - 16px);
  }
}
@media screen and (min-width: 992px) {
  .card {
    flex-basis: calc(25% - 16px);
  }
}
